.div {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: rgb(62 109 107 / 74%);
}

.divimg {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    transition: 0.5s;
    &:hover .image {
        opacity: 0.6;
      }
    &:hover .divsubt {
        opacity: 1;
      }
}

.divsubt {
    width: 50px;
    height: 20px;
    border-radius: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

.image {
    cursor: pointer;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    transition: 0.5s;
    backface-visibility: hidden;
}

.subtitle2 {
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    font-family: 'Bubblegum Sans', cursive;
    background-color: white;
    padding: 16px 32px;
}

.dialog {
    position: absolute;
    top: 86px;
    background: rgb(255 176 0 / 79%);
    border: none;
    padding: 0;
    width: auto;
    display: flex;
    justify-content: center;
}

.buttonClose {
    cursor: pointer;
    background: rgb(121 87 11 / 98%);
    border-radius: 100px;
    border: none;
    color: black;
    font-size: xxx-large;
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
  }
