.div {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
   &:hover {
     background: rgba(0.356, 0, 0, 0.356);
   }
}

.name {
    color: white;
    font-weight: 700;
    font-size: 3.5vh;
}

.logo {
    width: 5%;
}
