.div {
    background-color: #5d9bb0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    margin: 100px;
    color: white;
    font-style: italic;
    font-size: 4.5vh;
}